@font-face {
  font-family: 'HelveticaNeue' ; 
  src: url(../fonts/HelveticaNeue-Medium.woff) format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'HelveticaNeue'  ;
  src: url(../fonts/HelveticaNeue-Regular.woff)format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Favorit' ;
  src: url(../fonts/FavoritPro-Bold.woff) format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Garamond' ;
  src: url(../fonts/ITC-Garamond-Std-Book-Narrow.woff) format('woff');
}



@font-face {
  font-family: 'Magda' ;
  src: url(../fonts/MagdaPro_400_normal_1447935989.woff) format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Magda' ;
  src: url(../fonts/magda-light.woff) format('woff');
  font-weight: lighter;
}

@font-face {
  font-family: 'bell' ;
  src: url(../fonts/bellgothicstd-black-webfont.woff) format('woff');
}


@font-face {
  font-family: 'halvet' ;
  src: url(../fonts/helveticaneueltstd-ltcn-webfont.woff) format('woff');
}



